<ion-view view-title="Fruits">
  <ion-content>
	<ion-slide-box show-pager="false">
    <ion-slide ng-repeat="data in fruits">
                  <div class="row row-50"> 
				<img src={{data.imgscr}} class="alphaimg">
				</img>
				</div>
				<div class="row row-50">
				<p class="alphafont">{{data.name}}</p>
				</div>
				
    </ion-slide>
   </ion-slide-box> 
    <ion-footer-bar align-title="left" class="bar-assertive">
   <div class="buttons">
    <button class="button" ng-click="previousSlide()">
	Previous
	</button>
	</div>
	<div class="buttons" ng-click="">
    <button class="button">
	Play
	</button>
  </div>
  <div class="buttons" ng-click="nextSlide()">
    <button class="button">
	Next
	</button>
  </div>
  </ion-footer-bar>
  
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button" ng-click="previous()">Previous</button>
  </div>
 
  <div class="buttons" ng-click="next()">
    <button class="button">Next</button>
  </div>
</ion-content>
<ion-footer-bar  class="bar-assertive">
  <div class="buttons">
    <button class="button butcol" ng-click="previous()">Previous</button>
  </div>
 
  <div class="buttons">
    <button class="button butcol1" ng-click="next()">Next</button>
  </div>
</ion-view>
