.namefont
{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding: 24px;
    padding-left: 100px;
    padding-bottom: 18px;
}
.imgfont
{
height: 100%;
padding: 45px;
}
.imgfont
{
height:200px !important;
}
.img2font
{
height:300px !important;
}
