.imghome
{
margin-top: 45px;
height: 146px !important;
}

.imghome2
{
height:145px !important;
margin-top: 25px;
}
.button
{
border-color: #fff;
background-color: #fff;
}
.item-complex, a.item.item-complex, button.item.item-complex {
    padding: 15px;
	}
.col
{
font-size: 20px !important;
font-weight: bolder;
color: red !important;
}
.alphafont
{
margin: 0 0 10px;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    color: red;
    font-weight: bolder;
}
.alphaimg
{
       padding-left: 70px;
    padding-top: 10px;
}