<ion-view view-title="Kids Learning">

  <ion-content>
 <!--  <div class ="row row-50">
  <button class="button" ng-click="alpha()">
	<img src ="img/Abc.png" class="imghome"/>
	</button>
	</div>
	<div class ="row row-50">
	<button class ="button"ng-click="number()">
	<img src ="img/123.png" class="imghome2"/>
	</button>
	</div> -->
	<div class="row">
	<div class="col col-50 widclas" >
	<img src="img/abce.png" ng-click="alpha()"/>
	<p>Alphabets</p>
	</div>
	<div class="col col-50 widclas">
	<img src="img/1234.png" ng-click="number()"/>
	<p>Numbers</p>
	</div>
	</div>
				<div class="row">
				<div class="col col-50 widclas">
				<a href="#/app/animals">
				<img src="img/Animals.png"/>
				</a>
				<p>Animals Name</p>
				</div>
				<div class="col col-50 widclas">
				<a href="#/app/bodyparts">
				<img src="img/body.png"/>
				</a>
				<p>Body Parts</p>
				</div>
				</div>
	<div class="row">
	<div class="col col-50 widclas">
	<a href="#/app/vegetables">
	<img src="img/vegetable.png"/>
	</a>
	<p>Vegetables Name</p>
	</div>
	<div class="col col-50 widclas">
	<a href="#/app/fruits">
	<img src="img/fruits.png"/>
	</a>
	<p>Fruits Name</p>
	</div>
	</div>
				<div class="row">
				<div class="col col-50 widclas">
				<a href="">
				<img src="img/week.png"/>
				</a>
				<p>Week</p>
				</div>
				<div class="col col-50 widclas">
				<a href="">
				<img src="img/month.png"/>
				</a>
				<p>Months</p>
				</div>
				</div>
	<div class="row">
	<div class="col col-50 widclas">
	<a href="#/app/colours">
	<img src="img/colours.png"/>
	</a>
	<p>Colours</p>
	</div>
	<div class="col col-50 widclas">
	<a href="">
	<img src="img/poem.png"/>
	</a>
	<p>Poems</p>
	</div>
	</div>
	</div>
	
	
  </ion-content>
</ion-view>
