<ion-view title="Alphabets">
<ion-nav-bar class="bar-assertive">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="gohome()"></button>
  </ion-nav-buttons>
</ion-nav-bar>  
<ion-content>
 <div ng-hide="letter" ng-repeat="letter in letters">
         <div ng-bind="testname(letter)"></div>
        </div>
		<div class="row">
		<div class = "row row-50">
		<img src="img/alpha/{{test}}.png" class="alphaimg" />
		</div>
		</div>
            <p class="alphafont">{{test}}</p>
	
</ion-content>
</ion-view>